#par1.highlight {
    color: green;
  }

  .bold {
    font-size: 20px;
    color: black;
  }
  h1{
    font-size: 70px;
    font-family: 'Merriweather', serif;
    color: blue;
  }

  .highlight {
    color: blue;
  }

  .und {
    text-decoration: underline;
  }

  .highlight.und {
    font-size: 8px;
  }

  a {
    color: red;
  }

  header {
    text-align: center;
    margin: 0px
  }

  img {
    width: 300px;
    height: auto; 
  }

  #par1 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .navbar-brand {
    font-family: 'Merriweather', serif;
  }