/* 
  body {
    padding: 0 50px;
    color: gray;
  }
  div.row > div,
  header {
    outline: 1px solid gray;
    padding: 8px;
    text-align: left;
  }
  .indent-me span {
  margin-left: 50px;
  } */
  
  body {
    background-color: grey;
  }
  
  .bold {
    font-size: 20px;
    color: black;
  }
  h1{
    font-size: 150px;
    font-family: 'Merriweather', serif;
    color: blue;
  }

  .highlight {
    color: blue;
  }

  header {
    text-align: center;
    margin: 0px
  }

  img {
    width: 300px;
    height: auto; 
  }

  #par1, #par2, #par3 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .navbar-brand {
    font-family: 'Merriweather', serif;
    color:blue;
  }
  
  .box-color {
    background-color: white;
  }

  .footer-color1 {
    color: blue;
  }

  .footer-color2 {
    color: black;
  }

  .main {
    padding: 100px;
  }

  .potfolioBox {
    width: 350px; padding: 20px; color: gray;
  }