  body {
    background-color: grey;
  }
  
  .bold {
    font-size: 20px;
    color: black;
  }
  h1{
    font-size: 70px;
    font-family: 'Merriweather', serif;
    color: blue;
  }

  .highlight {
    color: blue;
  }

  header {
    text-align: center;
    margin: 0px
  }

  img {
    width: 300px;
    height: auto; 
  }

  #par1, #par2, #par3 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .navbar-brand {
    font-family: 'Merriweather', serif;
    color:blue;
  }
  
  .box-color {
    color: white;
  }

  .footer-color1 {
    color: blue;
  }

  .footer-color2 {
    color: black;
  }
